[Unit]
Description=Solana System Tuning
After=network.target
Before=solana.service

[Service]
User=root
ExecStart=/root/.local/share/solana/install/active_release/bin/solana-sys-tuner --user root
Restart=on-failure
RestartSec=3
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
